<html>
    <head>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/simple-sidebar.css">
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <%- body %>
    </body>

</html>